{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    <div class="heading-page header-text">
    </div>
    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for post in post %}
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{{ post.image.url }}" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>{{ post.category.all.0 }}</span>
                                            <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ post.riter.fullname }}</a></li>
                                                <li><a href="#">{{ post.date_published }}</a></li>
                                                <li><a href="#">Comment : {{ post.comments.count }}</a></li>
                                            </ul>
                                            <p>{{ post.body|truncatewords:50 }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li><a href="#">Best Templates</a>,</li>
                                                            <li><a href="#">TemplateMo</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                {% if post.has_other_pages %}
                                    <ul class="page-numbers">
                                        {% if post.has_previous %}
                                            <li><a href="?page={{ post.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                                                    class="fa fa-angle-double-left"></i></a></li>
                                        {% endif %}

                                        {% for i in post.paginator.page_range %}
                                            {% if post.number == i %}
                                                <li class="active"><a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                                            {% else %}
                                                <li><a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if post.has_next %}
                                            <li><a href="?page={{ post.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                                                    class="fa fa-angle-double-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'include/side_bar.html' %}
            </div>
        </div>
    </section>
    </body>
{% endblock %}